button {
    border-radius: 2.5px;
    border-width: .5px;
    margin: 4px;
}

button.jump-target {
    background: rgba(255, 255, 0, 0.534);
}



button.jump-target:hover{
    background:rgba(81, 255, 0, 0.226) 
}


button.active-field{
    border: 1.75px solid rgba(238, 196, 8, 0.74); 
    
}